* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.woff) format("woff");
  src: url(../fonts/Roboto-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.woff) format("woff");
  src: url(../fonts/Roboto-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.woff) format("woff");
  src: url(../fonts/Roboto-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "SegoePrint";
  src: url(../fonts/SegoePrint.woff) format("woff");
  src: url(../fonts/SegoePrint.woff2) format("woff2");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular", sans-serif;
}

a {
  text-decoration: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
}

.container {
  max-width: 1280px;
  width: 95%;
  margin: auto;
  font-size: 14px;
  line-height: 16px;
}

.main-title {
  margin: 0;
  font-family: Roboto-Bold;
  font-size: 36px;
  line-height: 42px;
  color: #00386B;
}

.header-navbar {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 56, 107, 0.05);
}

.header-navbar__left {
  display: flex;
  align-items: center;
}

.header-navbar__middle {
  display: flex;
  align-items: center;
}

.header-navbar__right {
  display: flex;
  align-items: center;
}

.header-navbar__bottom--links {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navbar__bottom--link {
  padding: 6px 30px;
  border-radius: 4px;
  transition: 0.5s linear;
}

.header-navbar__bottom--link:hover {
  color: #ffffff;
  background: #017DC7;
}

.header-description {
  position: relative;
  width: 354px;
}

.header-icon {
  margin-right: 8px;
}

.header-phones-group {
  display: flex;
  flex-direction: column;
  color: #00386B;
  font-family: Roboto-Bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
}

.logo__image {
  width: 155px;
}

.divider {
  width: 2px;
  height: 20px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #00386B;
  display: inline-block;
}

.slogan {
  max-width: 275px;
  font-size: 10px;
  font-family: Roboto-Bold;
  color: #00386B;
}

.father-link {
  font-family: Roboto-Bold;
  color: #00386B;
}

.download {
  color: #ffffff;
  padding: 6px 42px;
  background: #00386B;
  border-radius: 4px;
}

.hero-content {
  background: linear-gradient(96.81deg, rgba(255, 255, 255, 0.9) 31.75%, rgba(0, 0, 0, 0) 99.98%, rgba(0, 0, 0, 0) 99.99%), url(../img/robot.png);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 100px;
  padding-left: 70px;
}

.hero-description {
  max-width: 730px;
  height: 425px;
}

.hero-title {
  font-size: 40px;
  line-height: 47px;
  color: #00386B;
}

.hero-test {
  margin-bottom: 45px;
  font-family: Roboto-Medium;
  font-size: 24px;
  line-height: 28px;
}

.request-group {
  display: flex;
}

.request-button {
  display: inline-block;
  padding: 27px 79px;
  background: linear-gradient(87.99deg, #00386B 35%, #0076C3 104%);
  border-radius: 4px;
  font-family: Roboto-Bold;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  opacity: 0.8;
}

.request-description {
  max-width: 400px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  font-family: Roboto-Bold;
  font-size: 16px;
  line-height: 19px;
}

.request-description__text {
  margin: 0;
}

.stories {
  overflow-x: hidden;
  overflow-y: visible;
}

.stories-container {
  position: relative;
  padding-top: 90px;
  padding-bottom: 60px;
}

.stories-image {
  position: absolute;
  width: 40%;
  top: 55px;
  right: -190px;
  opacity: 0.25;
}

.stories-title {
  margin: 0;
  margin-bottom: 60px;
}

.stories-texts {
  display: flex;
  justify-content: space-between;
}

.stories-item {
  width: 47%;
}

.stories-item__text {
  font-size: 24px;
  line-height: 28px;
}

.line {
  height: 1px;
  margin: auto;
  background: #C4C4C4;
}

.partners {
  margin-bottom: 80px;
}

.partners-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.partners-title {
  margin-bottom: 65px;
}

.partners-slider {
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.slider-image {
  max-width: 220px;
  max-height: 130px;
}

.swiper-wrapper {
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.whyus-container {
  margin-bottom: 80px;
}

.whyus-title {
  margin-bottom: 50px;
}

.whyus-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.whyus-group__item {
  padding: 57px 37px 69px 37px;
  width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(0, 57, 107, 0.1);
  border-radius: 4px;
}

.whyus-group__item--title {
  width: 220px;
  font-family: Roboto-Bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.whyus-group__item--text {
  width: 340px;
  font-size: 16px;
  text-align: center;
  margin: 0;
  line-height: 19px;
}

.bold {
  font-family: Roboto-Bold;
}

.advantages {
  padding-top: 70px;
  margin-bottom: 160px;
}

.advantages-title {
  margin-bottom: 65px;
}

.advantages-block {
  position: relative;
}

.advantages-image {
  width: 100%;
  height: 100%;
}

.advantages-description {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 99.5%;
  background: #00386B;
  opacity: 0.85;
  backdrop-filter: blur(35px);
  padding: 64px 80px 64px 27px;
}

.advantages-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advantages-list__item {
  display: flex;
}

.advantages-list__item::before {
  content: '';
  display: block;
  width: 125px;
  height: 2px;
  background: #A0B3C5;
  position: absolute;
}

.advantages-list__item--number {
  margin-right: 15px;
  font-family: Roboto-Bold;
  font-size: 96px;
  line-height: 112px;
  color: #FFFFFF;
  opacity: 0.6;
}

.advantages-list__item--text {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  background: #00386B;
  color: #FFFFFF;
}

.footer-container {
  padding: 65px 85px 65px 65px;
  display: flex;
  justify-content: space-between;
}

.footer-logo__image {
  width: 200px;
}

.footer-contacts {
  width: 250px;
}

.footer-icon {
  margin-right: 8px;
}

.footer-phones {
  display: flex;
  align-items: start;
}

.footer-phones__list--item {
  margin-bottom: 5px;
}

.footer-links__link {
  font-size: 18px;
}

.footer-links__list--item {
  margin-bottom: 10px;
}

.footer-phone {
  font-size: 18px;
}

.footer-description {
  margin-top: 10px;
  margin-left: 23px;
  margin-bottom: 10px;
}

.footer-email {
  display: flex;
}

.footer-form {
  width: 350px;
}

.footer-privacy {
  margin: 0;
  margin-bottom: 10px;
}

.privacy-link {
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */