* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.woff) format("woff");
  src: url(../fonts/Roboto-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.woff) format("woff");
  src: url(../fonts/Roboto-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.woff) format("woff");
  src: url(../fonts/Roboto-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "SegoePrint";
  src: url(../fonts/SegoePrint.woff) format("woff");
  src: url(../fonts/SegoePrint.woff2) format("woff2");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular", sans-serif;
}

a {
  text-decoration: none;
  border: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

a:hover {
  color: #017DC7;
}

p, ul, h1, h2, li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  width: 95%;
  margin: auto;
  font-size: 14px;
  line-height: 16px;
}

.main-title {
  margin: 0;
  font-family: Roboto-Bold;
  font-size: 36px;
  line-height: 42px;
  color: #00386B;
}

.breadcrumb {
  padding: 18px 0;
}

.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  list-style: none;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: '>';
  margin-right: 4px;
}

.bold {
  font-weight: bold;
}

button {
  outline: none;
}

.products-item {
  display: none;
}

.products-item__active {
  display: block;
}

.header-navbar {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 56, 107, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 56, 107, 0.05);
}

.header-navbar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navbar__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navbar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navbar__bottom--links {
  margin-top: 25px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navbar__bottom--link {
  padding: 6px 30px;
  border-radius: 4px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.header-navbar__bottom--link:hover {
  color: #ffffff;
  background: #017DC7;
}

.header-description {
  position: relative;
  width: 354px;
}

.header-icon {
  margin-right: 8px;
}

.header-phones-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #00386B;
  font-family: Roboto-Bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
}

.logo__image {
  width: 155px;
}

.divider {
  width: 2px;
  height: 20px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #00386B;
  display: inline-block;
}

.slogan {
  max-width: 275px;
  font-size: 10px;
  font-family: Roboto-Bold;
  color: #00386B;
}

.father-link {
  font-family: Roboto-Bold;
  color: #00386B;
}

.download {
  color: #ffffff;
  padding: 6px 42px;
  background: #00386B;
  border-radius: 4px;
}

.hero-content {
  background: linear-gradient(96.81deg, rgba(255, 255, 255, 0.9) 31.75%, rgba(0, 0, 0, 0) 99.98%, rgba(0, 0, 0, 0) 99.99%), url(../img/robot.png);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 100px;
  padding-left: 70px;
}

.hero-description {
  max-width: 730px;
  height: 425px;
}

.hero-title {
  font-size: 40px;
  line-height: 47px;
  color: #00386B;
}

.hero-test {
  margin-bottom: 45px;
  font-family: Roboto-Medium;
  font-size: 24px;
  line-height: 28px;
}

.request-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.request-button {
  display: inline-block;
  padding: 27px 79px;
  background: linear-gradient(87.99deg, #00386B 35%, #0076C3 104%);
  border-radius: 4px;
  font-family: Roboto-Bold;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  opacity: 0.8;
}

.request-description {
  max-width: 400px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  font-family: Roboto-Bold;
  font-size: 16px;
  line-height: 19px;
}

.request-description__text {
  margin: 0;
}

.stories {
  overflow-x: hidden;
  overflow-y: visible;
}

.stories-container {
  position: relative;
  padding-top: 90px;
  padding-bottom: 60px;
}

.stories-image {
  position: absolute;
  width: 35%;
  top: 55px;
  right: -190px;
  opacity: 0.25;
}

.stories-title {
  margin: 0;
  margin-bottom: 60px;
}

.stories-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stories-item {
  width: 47%;
}

.stories-item__text {
  font-size: 24px;
  line-height: 28px;
}

.line {
  height: 1px;
  margin: auto;
  background: #C4C4C4;
}

.partners {
  margin-bottom: 80px;
}

.partners-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.partners-title {
  margin-bottom: 65px;
}

.partners-slider {
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.slider-image {
  max-width: 220px;
  max-height: 130px;
}

.swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.whyus-container {
  margin-bottom: 80px;
}

.whyus-title {
  margin-bottom: 50px;
}

.whyus-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.whyus-group__item {
  padding: 57px 37px 69px 37px;
  width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 57, 107, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 57, 107, 0.1);
  border-radius: 4px;
}

.whyus-group__item--title {
  width: 220px;
  font-family: Roboto-Bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.whyus-group__item--text {
  width: 340px;
  font-size: 16px;
  text-align: center;
  margin: 0;
  line-height: 19px;
}

.bold {
  font-family: Roboto-Bold;
}

.advantages {
  padding-top: 70px;
  margin-bottom: 160px;
}

.advantages-title {
  margin-bottom: 65px;
}

.advantages-block {
  position: relative;
}

.advantages-image {
  width: 100%;
  height: 100%;
}

.advantages-description {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 99.5%;
  background: #00386B;
  opacity: 0.85;
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  padding: 64px 80px 64px 27px;
}

.advantages-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-list__item::before {
  content: '';
  display: block;
  width: 125px;
  height: 2px;
  background: #A0B3C5;
  position: absolute;
}

.advantages-list__item--number {
  margin-right: 15px;
  font-family: Roboto-Bold;
  font-size: 96px;
  line-height: 112px;
  color: #FFFFFF;
  opacity: 0.6;
}

.advantages-list__item--text {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  margin-top: 30px;
  background: #00386B;
  color: #FFFFFF;
}

.footer-container {
  padding: 65px 0 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo__image {
  width: 200px;
}

.footer-contacts {
  width: 250px;
}

.footer-icon {
  margin-right: 8px;
}

.footer-phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer-phones__list {
  list-style: none;
}

.footer-phones__list--item {
  margin-bottom: 5px;
}

.footer-links__link {
  font-size: 18px;
}

.footer-links__list {
  list-style: none;
}

.footer-links__list--item {
  margin-bottom: 10px;
}

.footer-phone {
  font-size: 18px;
}

.footer-description {
  margin-top: 10px;
  margin-left: 23px;
  margin-bottom: 10px;
}

.footer-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form {
  width: 350px;
}

.footer-privacy {
  margin: 0;
  margin-bottom: 10px;
}

.privacy-link {
  font-size: 20px;
}

.osborn-history__photo {
  width: 100%;
}

.osborn-history__switch {
  padding: 80px 0 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.osborn-history__button {
  font-family: Roboto-Bold;
  font-size: 36px;
  line-height: 42px;
  color: #323232;
  opacity: 0.5;
  background: none;
  border: none;
  cursor: pointer;
}

.osborn-history__divider {
  font-size: 75px;
  line-height: 42px;
  color: #00386B;
}

.osborn-today__title {
  margin-bottom: 55px;
  font-size: 24px;
  line-height: 28px;
}

.history-button__active {
  color: #00386B;
  opacity: 1;
}

.history-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 53px;
}

.history-block__item {
  padding: 21px 18px;
  width: 302px;
  height: 190px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 57, 107, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 57, 107, 0.1);
  border-radius: 4px;
  margin-bottom: 27px;
}

.history-block__item--title {
  font-size: 24px;
  line-height: 28px;
  color: #00386B;
  margin: 0;
  margin-bottom: 23px;
}

.history-block__item--text {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

.quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.quality-description__title {
  margin-bottom: 20px;
  color: #00386B;
  font-family: Roboto-Bold;
  font-size: 28px;
  line-height: 33px;
}

.quality-description__text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
}

.quality-description__list {
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  list-style-image: url(/img/icons/list-style.png);
}

.quality-description__list--item {
  list-style-position: inside;
}

.blockquote {
  background: linear-gradient(90.58deg, #00386B 0%, #0172BD 104.79%);
  padding: 28px 52px;
  margin-bottom: 60px;
}

.blockquote-item {
  margin: 0;
  text-align: center;
  font-family: Segoe Print;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
}

.blockquote-author {
  margin: 10px 20px 0 0;
  text-align: right;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
}

.innovations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.innovations-description__title {
  margin-bottom: 20px;
  color: #00386B;
  font-family: Roboto-Bold;
  font-size: 28px;
  line-height: 33px;
}

.innovations-description__text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
}

.innovations-description__link {
  color: #00386B;
  font-family: Roboto-Bold;
}

.products-categories {
  margin-bottom: 30px;
}

.products-categories__title {
  margin: 20px 0;
  font-size: 36px;
  line-height: 42px;
  color: #00386B;
}

.products-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-button {
  padding: 0;
  margin: 20px;
  border: none;
  padding: 30px;
  width: 30%;
  min-width: 380px;
  height: 158px;
  border-radius: 6px;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.products-button:hover {
  background: linear-gradient(98.14deg, #00386B -0.23%, #0172BD 99.12%);
}

.products-button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
}

.products-button__roller {
  background: -webkit-gradient(linear, left bottom, left top, from(#323232b3), to(rgba(50, 50, 50, 0.3))), url(../img/brushes/roller_brush.png) no-repeat;
  background: linear-gradient(0deg, #323232b3, rgba(50, 50, 50, 0.3)), url(../img/brushes/roller_brush.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.products-button__perforated {
  background: -webkit-gradient(linear, left bottom, left top, from(#323232b3), to(rgba(50, 50, 50, 0.3))), url(../img/brushes/perforated.png) no-repeat;
  background: linear-gradient(0deg, #323232b3, rgba(50, 50, 50, 0.3)), url(../img/brushes/perforated.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.products-button__powertool {
  background: -webkit-gradient(linear, left bottom, left top, from(#323232b3), to(rgba(50, 50, 50, 0.3))), url(../img/brushes/power_tool.png) no-repeat;
  background: linear-gradient(0deg, #323232b3, rgba(50, 50, 50, 0.3)), url(../img/brushes/power_tool.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.products-button__broomate {
  background: -webkit-gradient(linear, left bottom, left top, from(#323232b3), to(rgba(50, 50, 50, 0.3))), url(../img/brushes/broomate.png) no-repeat;
  background: linear-gradient(0deg, #323232b3, rgba(50, 50, 50, 0.3)), url(../img/brushes/broomate.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.products-button__industrial {
  background: -webkit-gradient(linear, left bottom, left top, from(#323232b3), to(rgba(50, 50, 50, 0.3))), url(../img/brushes/industrial.png) no-repeat;
  background: linear-gradient(0deg, #323232b3, rgba(50, 50, 50, 0.3)), url(../img/brushes/industrial.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.products-button__polishing {
  background: -webkit-gradient(linear, left bottom, left top, from(#323232b3), to(rgba(50, 50, 50, 0.3))), url(../img/brushes/polishing.png) no-repeat;
  background: linear-gradient(0deg, #323232b3, rgba(50, 50, 50, 0.3)), url(../img/brushes/polishing.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.products-item__roller, .products-item__perforated, .products-item__broomate {
  margin-top: 50px;
}

.products-seemore__button {
  margin-top: 25px;
  padding: 28px 75px;
  background-color: #00386B;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  line-height: 48%;
  display: inline-block;
  margin-left: 20px;
  border: none;
}

.products-close__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px auto;
  padding: 28px 75px;
  background-color: white;
  color: #00386B;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  line-height: 48%;
  border: 1px solid #00386B;
}

.products-brake {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.products-table {
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 130%;
  border: 1px solid #017DC7;
  border-collapse: collapse;
}

.products-table th {
  color: #017DC7;
  padding-top: 22px;
  padding-bottom: 22px;
  border: 1px solid #017DC7;
}

.products-table td {
  padding-top: 22px;
  padding-bottom: 22px;
  border: 1px solid #017DC7;
  background-color: #B3D8EE;
}

.product-description__top {
  margin-bottom: 50px;
}

.product-description__top--title {
  font-family: Roboto-Bold;
  font-size: 28px;
  line-height: 33px;
  color: #00386B;
  margin-bottom: 30px;
}

.product-description__top--intro {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
}

.product-description__top--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-description__top--text {
  font-size: 18px;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.product-description__top--usage {
  margin-top: 40px;
}

.product-description__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-description__middle--left {
  width: 45%;
}

.product-description__middle--right {
  width: 45%;
}

.product-description__middle--video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 50px;
}

.product-description__middle--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 50px;
}

.product-description__middle--image_item {
  width: 30%;
  border-radius: 2%;
}

.product-description__bottom {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-description__bottom--block {
  margin-top: 60px;
  width: 30%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product-description__bottom--title {
  text-align: center;
  font-size: 28px;
  line-height: 30px;
}

.product-description__bottom--text {
  font-size: 18px;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.product-description__bottom--perforated {
  margin-top: 40px;
}

.product-description__bottom--image {
  margin: auto;
  width: 80%;
}

.product-description__bottom--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-description__textblock {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  width: 50%;
}

.catalog-link {
  margin-top: 25px;
  padding: 28px 75px;
  background-color: #00386B;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  line-height: 48%;
  display: inline-block;
  margin-left: 20px;
}

.catalog--usage {
  margin-top: 20px;
}

.usage-title {
  font-family: Roboto-Bold;
  font-size: 28px;
  line-height: 31px;
  margin-bottom: 30px;
}

.usage-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.usage-content__text {
  margin-left: 10px;
}

.usage-content__desc {
  font-size: 18px;
  line-height: 24px;
}

.usage-content__list {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 16px;
  line-height: 24px;
}

.usage-content__list--item {
  color: #017DC7;
}

.usage-content__list--item span {
  color: #000000;
}

.usage-content__image {
  margin-right: 10px;
}

.divline {
  width: 200px;
  height: 1.2px;
  background-color: #017DC7;
  margin-bottom: 20px;
}

.description-middle__title {
  font-family: Roboto-Bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #00386B;
  font-size: 20px;
  line-height: 130%;
}

.description-middle__text, .description-middle__list {
  font-size: 18px;
  line-height: 130%;
}

.description-middle__text--item, .description-middle__list--item {
  margin-top: 15px;
  margin-bottom: 15px;
}

.description-middle__list {
  list-style-position: inside;
  color: #017DC7;
  margin: 15px;
}

.description-middle__list--item {
  font-size: 18px;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 0;
}

.description-middle__list--item span {
  color: #000000;
}

.description-middle__image {
  display: block;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.broomate-description__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.broomate-description__block--text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.broomate-description__block--slider {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  min-width: 0;
}

.broomate-description__text {
  font-size: 18px;
  line-height: 130%;
}

.broomate-listname {
  margin-top: 25px;
  font-family: Roboto-Bold;
  font-size: 18px;
  line-height: 130%;
}

.broomate-list__item {
  margin-top: 15px;
  color: #017DC7;
  font-size: 16px;
  line-height: 100%;
}

.broomate-list__item span {
  color: black;
}
/*# sourceMappingURL=style.css.map */