.products
  &-item
    &__roller, &__perforated
      margin-top: 50px
    // &__perforated
    //   display: none
  &-seemore
    &__button
      margin-top: 25px
      padding: 28px 75px
      background-color: $primary
      color: white
      cursor: pointer
      border-radius: 10px
      font-size: 18px
      line-height: 48%
      display: inline-block
      margin-left: 20px
      border: none
  &-close
    &__button
      display: flex
      align-items: center
      justify-content: center
      margin: 25px auto
      padding: 28px 75px
      background-color: white
      color: $primary
      cursor: pointer
      border-radius: 10px
      font-size: 18px
      line-height: 48%
      border: 1px solid $primary
  &-brake
    flex-basis: 100%
.product
  &-description
    &__top
      margin-bottom: 50px
      &--title
        font-family: Roboto-Bold
        font-size: 28px
        line-height: 33px
        color: $primary
        margin-bottom: 30px
      &--intro
        font-size: 24px
        line-height: 29px
        margin-bottom: 30px
      &--block
        display: flex
      &--text
        font-size: 18px
        line-height: 20px
        margin-top: 20px
        margin-left: 20px
      &--usage
        margin-top: 40px
    &__middle
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      &--left
        width: 45%
      &--right
        width: 45%
        // margin-top: 50px
      &--video
        display: flex
        flex-wrap: wrap
        justify-content: space-evenly
        margin-bottom: 50px
      &--image
        display: flex
        flex-wrap: wrap
        justify-content: space-evenly
        margin-bottom: 50px
        &_item
          width: 30%
          border-radius: 2%
    &__bottom
      padding-top: 20px
      display: flex
      justify-content: space-around
      &--block
        margin-top: 60px
        width: 30%
        flex-grow: 1
      &--title
        text-align: center
        font-size: 28px
        line-height: 30px
      &--text
        font-size: 18px
        line-height: 20px
        margin-top: 20px
        margin-left: 20px
        margin-right: 20px
      &--perforated
        margin-top: 40px
    &__textblock

.catalog
  &-link
    margin-top: 25px
    padding: 28px 75px
    background-color: $primary
    color: white
    cursor: pointer
    border-radius: 10px
    font-size: 18px
    line-height: 48%
    display: inline-block
    margin-left: 20px
  &--usage
    margin-top: 20px
.usage
  &-title
    font-family: Roboto-Bold
    font-size: 28px
    line-height: 31px
    margin-bottom: 30px
  &-content
    display: flex
    &__text
      margin-left: 10px
    &__desc
      font-size: 18px
      line-height: 24px
    &__list
      margin-top: 10px
      margin-left: 15px
      font-size: 16px
      line-height: 24px
      &--item
        color: $secondary
      &--item span
        color: #000000
    &__image
      margin-right: 10px
.divline
  width: 200px
  height: 1.2px
  background-color: $secondary
  margin-bottom: 20px
.description
  &-middle
    &__title
      font-family: Roboto-Bold
      margin-top: 20px
      margin-bottom: 20px
      color: $primary
      font-size: 20px
      line-height: 130%
    &__text, &__list
      font-size: 18px
      line-height: 130%
      &--item
        margin-top: 15px
        margin-bottom: 15px
    &__list
      list-style-position: inside
      color: $secondary
      margin: 15px
      &--item
        font-size: 18px
        line-height: 130%
        margin-top: 0
        margin-bottom: 0
        & span
          color: #000000
    &__image
      display: block
      width: 90%
      margin-top: 10px
      margin-bottom: 25px
      margin-left: auto
      margin-right: auto
      border-radius: 4px
// .dn
//   display: none
